<%# @usergroups.each do |usergroup| %>
  <%#= link_to "#{usergroup.group.name}", group_lunches_path(usergroup.group)%>
<%# end %>

<div class="container">
  <div class="row">
    <div class="col form">
    <h1 class="text-center">Create new group </h1>
      <div class="form-inputs">
        <%= simple_form_for @group do |f| %>
          <%= f.input :name %>
          <%= f.input :photo, as: :file %>
      </div>
      <div class="text-center">
        <%= f.button :submit, "Submit", class: "form__button" %>
      </div>
      <% end %>
    </div>
    <div class="col form-img">
      <%= image_tag('SWAPC.png', :class => "swap-image") %>
    </div>
  </div>
</div>
