<div class="container">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    <div class="card-text-spacing">
      <h1>Hello <%=current_user.first_name.capitalize %></h1>
      <%= link_to "Share a lunch", new_group_lunch_path, class:"header__button" %>
    </div>
  </div>

  <div class="col mb-4">
    <form>
      <input class="outlined-input" type="text" id="groundlink" name="fname" placeholder="group referral link">
    </form>
  </div>

  <%# filter %>
  <div class="col mb-5 filter_index">
    <%= render "filter", lunch: @lunch %>
        <%= link_to image_tag("AddGroupButton.png"), groups_path, class:"nav-link-vertical" %>
        <%= link_to image_tag("AddGroupButton.png"), groups_path, class:"nav-link-vertical" %>
        <%= link_to image_tag("AddGroupButton.png"), groups_path, class:"nav-link-vertical" %>
  </div>
  <%# fin du filter %>
 <%# @lunches.each do |lunch| %>
  <%# if lunch.photos.attached? %>
    <%#= cl_image_tag lunch.photos.first.key, height: 250%>
  <%# else %>
    <%#= image_tag('lunch.jpg') %>
  <%# end %>
  <%#= link_to "#{lunch.title}", group_lunch_path(@group, lunch) %>

  <div class="col mb-4 filter">
    <h2 class="mb-4">Lunches avalaible</h2>
  </div>

  <% @lunches.each do |lunch| %>
  <div class="card-product">
    <% if lunch.photos.attached? %>
      <%= cl_image_tag lunch.photos.first.key, height: 250%>
    <% else %>
      <%= image_tag('lunch.jpg') %>
    <% end %>
    <div class="card-product-infos">
      <h2><%= link_to "#{lunch.title.capitalize}", group_lunch_path(@group, lunch) %></h2>
      <p> <%= lunch.description %> </p>
      <%#= lunch.tokens %>
      <%= link_to "Infos", new_group_lunch_path(@group), class:"header__button" %>
    </div>
  </div>
  <% end %>
</div>
