<div class="container">
  <div class="card-category">
    <div class="card-text-spacing">
      <h1>Hello <%=current_user.first_name.capitalize %></h1>
      <% if current_user.group_ids.include?(@group.id) %>
        <%= link_to "Share a lunch", new_group_lunch_path, class:"header__button" %>
      <% else %>
        <%= link_to "Join a group", join_group_path(@group.id), class:"header__button" %>
      <% end %>
    </div>
  </div>

  <div class="col mb-4" data-controller="copy-link">
    <form >
      <%# <label for="outlined-input" class="fs-4 fw-bold ps-5">Refferal: </label> %>
      <input data-copy-link-target="link" class="outlined-input" type="text" id="groundlink" name="fname" value= <%="https://www.potlunch.club/groups/#{@group.id}/lunches" %>>
      <i class="fa-regular fa-copy" data-action="click->copy-link#copy"></i>
      <div class="pop-out-card " data-copy-link-target="popup">
        <p class="pop-out-card-text">Copied</p>
      </div>
    </form>
  </div>
<div data-controller="filter-lunches">
  <%# filter %>
  <div class="col mb-5 filter_index d-flex">
    <div class="col filter_index d-flex justify-content-around">
        <span data-action="click->filter-lunches#showalllunches" data-filter-lunches-tag-param="all"><%= image_tag("all.png", class: "home-icons active")%></span>
        <span data-action='click->filter-lunches#showfilterlunches' data-filter-lunches-tag-param="Vegan"><%= image_tag("vegan.png", :class=> "home-icons")%></span>
        <span data-action="click->filter-lunches#showfilterlunches" data-filter-lunches-tag-param="Vegetarian"><%= image_tag("vege.png", class: "home-icons")%></span>
        <span data-action="click->filter-lunches#showfilterlunches" data-filter-lunches-tag-param="Gluten Free"><%= image_tag("glutenfree.png", class: "home-icons")%></span>
        <span data-action="click->filter-lunches#showfilterlunches" data-filter-lunches-tag-param="Seafood"><%= image_tag("shrimp.png", class: "home-icons")%></span>
        <span data-action="click->filter-lunches#showfilterlunches" data-filter-lunches-tag-param="Nuts Free"><%= image_tag("peanut.png", class: "home-icons")%></span>
        <span data-action="click->filter-lunches#showfilterlunches" data-filter-lunches-tag-param="Spicy"><%= image_tag("spicy.png", class: "home-icons")%></span>
    </div>
  </div>
    <%# fin du filter %>

    <div class="col filter">
      <h2 class="mb-1">Lunches avalaible</h2>
    </div>

    <div data-filter-lunches-target="alllunches">
      <% @lunches.each do |lunch| %>
        <div class="col card-product d-flex" data-filter-lunches-target="lunch" data-lunch-tags="<%= lunch.tags.to_json %>">

          <% if lunch.photos.attached? %>
            <%= cl_image_tag lunch.photos.first.key, height: 250%>
          <% else %>
            <%= image_tag('lunch.jpg') %>
          <% end %>

          <div class="col card-product-infos d-flex">
            <div class="flex-fill text-truncate pt-4 pe-4">
              <h2><%= link_to "#{lunch.title.capitalize}", group_lunch_path(@group, lunch) %></h2>
              <p class="text-truncate pe-4"><%= lunch.description %></p>
            </div>
            <%#= lunch.tokens %>
            <div class="d-flex align-items-center pe-4">
              <%# <% if (lunch.swaps.exists? == false) %>
                <%# <%= link_to "Gone", group_lunches_path(current_user.group_ids), class:"header__button-disable text-end " %>
              <%# <% else %>
                <%= link_to "Infos", group_lunch_path(@group, lunch), class:"header__button text-end " %>
              <%# <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
