<div class="container">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    <div class="card-text-spacing">
      <h1>Hello <%=current_user.first_name.capitalize %></h1>
      <%= link_to "Share a lunch", new_group_lunch_path, class:"header__button" %>
    </div>
  </div>

  <div class="col mb-4">
    <form >
      <%# <label for="outlined-input" class="fs-4 fw-bold ps-5">Refferal: </label> %>
      <input class="outlined-input" type="text" id="groundlink" name="fname" placeholder="https://potlunch.club/groups">
    </form>
  </div>

  <%# filter %>
  <div class="col mb-5 filter_index d-flex">
    <%= render "filter", lunch: @lunch %>
    <div class="col filter_index d-flex justify-content-around">
        <%= link_to image_tag("vegan.png", class: "home-icons active"), groups_path%>
        <%= link_to image_tag("vege.png", class: "home-icons"), groups_path%>
        <%# à ajouter le glutenfree ligne 23 pour le AJAX et enlever le render filter ligne 18 lorsque AJAX fonctionnel %>
        <%#= link_to image_tag("glutenfree.png", class: "home-icons"), groups_path%>
        <%= link_to image_tag("shrimp.png", class: "home-icons"), groups_path%>
        <%= link_to image_tag("peanut.png", class: "home-icons"), groups_path%>
        <%= link_to image_tag("spicy.png", class: "home-icons"), groups_path%>
    </div>
  </div>
  <%# fin du filter %>
 <%# @lunches.each do |lunch| %>
  <%# if lunch.photos.attached? %>
    <%#= cl_image_tag lunch.photos.first.key, height: 250%>
  <%# else %>
    <%#= image_tag('lunch.jpg') %>
  <%# end %>
  <%#= link_to "#{lunch.title}", group_lunch_path(@group, lunch) %>

  <div class="col filter">
    <h2 class="mb-1">Lunches avalaible</h2>
  </div>

  <% @lunches.each do |lunch| %>
  <div class="col card-product d-flex ">
    <% if lunch.photos.attached? %>
      <%= cl_image_tag lunch.photos.first.key, height: 250%>
    <% else %>
      <%= image_tag('lunch.jpg') %>
    <% end %>
    <div class="col card-product-infos d-flex">
      <div class="flex-fill text-truncate pt-4 pe-4">
        <h2><%= link_to "#{lunch.title.capitalize}", group_lunch_path(@group, lunch) %></h2>
        <p class="text-truncate pe-4"><%= lunch.description %></p>
      </div>
      <%#= lunch.tokens %>
      <div class="d-flex align-items-center pe-4">
        <%= link_to "Infos", group_lunch_path(@group, lunch), class:"header__button text-end " %>
      </div>
    </div>
  </div>
  <% end %>
</div>
