<% if @lunch.photos.attached? %>
  <% @lunch.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 250 %>
  <% end %>
<% else %>
  <%= image_tag('lunch.jpeg') %>
<% end %>

 <h1><%= @lunch.title %></h1>
 <%= @lunch.description %>
 <%# <% @lunch.tags.each do |tag| %>
 <%# <%= tag %>
 <%# <% end %>

<%# hide the links for unauthorized users %>
<% if policy(@lunch).edit? %>
  <%= link_to "Edit this lunch", edit_group_lunch_path([@group, @lunch]) %>
<% end %>
<!-- [bouton destroy] -->
<%= button_to "Destroy this lunch", group_lunch_path([@group,@lunch]), method: :delete if policy(@lunch).destroy? %>

<% if (@lunch.user != current_user) && (@swap.exists? == false) %>
  <%= link_to "Ask this lunch", new_lunch_swap_path(@lunch) %>
<% end %>
<%= link_to "Chat for more details", new_swap_for_chat_path(@lunch), data: {turbo_method: :post} %>
