<div class="card-show">
  <% if @lunch.photos.attached? %>
    <% @lunch.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 250 %>
    <% end %>
  <% else %>
    <%= image_tag('lunch.jpeg') %>
  <% end %>
  <div>
    <ul>
      <li class="d-flex justify-content-start"><%= cl_image_tag User.find(@lunch.user_id).avatar.key, height: 60, class:"rounded-circle" %></li>
      <li class="icons bold"><%= @lunch.user.first_name %> <%= @lunch.user.last_name %></li>
      <li class="icons"><%= link_to image_tag("AddGroupButton.png") %></li>
      <li class="icons"><%= link_to image_tag("AddGroupButton.png") %></li>
      <li class="icons"><%= link_to image_tag("AddGroupButton.png") %></li>
    </ul>
  </div>
</div>

<div class="card-show-info">
  <div class="card-show-title">
    <h1 class=" text-center"><%= @lunch.title %></h1>
    <p>Cooking date: <%= @lunch.cooking_date %></p>
    <p>Price: 10 tokens</p>
    <p>Recipe url: <%= @lunch.recipe_url %></p>
    <p>Description:  <%= @lunch.description %></p>
  </div>
</div>

 <%# <% @lunch.tags.each do |tag| %>
 <%# <%= tag %>
 <%# <% end %>
<div class="text-center d-flex justify-content-evenly">
  <% if policy(@lunch).edit? %>
    <%= link_to "Edit this lunch", edit_group_lunch_path([@group, @lunch]), class:"header__button" %>
  <% end %>
  <!-- [bouton destroy] -->
  <%= button_to "Destroy this lunch", group_lunch_path([@group,@lunch]), class:"header__button",  method: :delete if policy(@lunch).destroy? %>

  <%= link_to "Chat for more details", new_swap_for_chat_path(@lunch), class:"header__button-outlined", data: {turbo_method: :post} %>
    
  <% if (@lunch.user != current_user) && (@swap.exists? == false) %>
    <%= link_to "Claim this lunch", new_lunch_swap_path(@lunch), class:"header__button"  %>
  <% end %>
</div>
