<% @swaps.each do |swap| %>
  <div class="card-product d-flex shadow p-3 mb-5 bg-white rounded">
    <% if swap.lunch.photos.attached? %>
      <%= cl_image_tag swap.lunch.photos.first.key, height: 250%>
    <% else %>
      <%= image_tag('lunch.jpeg') %>
    <% end %>
    <div class="card-product-infos">
      <h2><%= swap.lunch.title.capitalize %></h2>
      <% if swap.status == "requested" %>
        <%= "#{swap.user.first_name.capitalize} has asked for your #{swap.lunch.title} to be delivered at #{swap.delivery_date}" %>
        <%= link_to "Chat with #{swap.user.first_name.capitalize}", swap_chatroom_path(swap, @message), class: "btn btn-primary" %>
        <%= simple_form_for(swap) do |f| %>
          <%= f.input :status, :label => 'Do you want accept or decline this swap?', :collection => %w[accepted refused]%>
          <%= f.button :submit, "Update swap", class: "btn btn-primary"  %>
        <% end %>
        <strong><%= "Status:" %></strong> <%= swap.status %>
      <% elsif swap.status == "accepted" %>
      <%# TODO Corriger la div pour le status %>
      <div class="d-flex" >
        <strong><%= "Delivery date:" %> </strong> <%= swap.delivery_date %>
        <strong><%= "Status:" %></strong> <%= swap.status %>
      </div>
      <%# div pour le nom utilisateur et avatar %>
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <strong><%= "To:" %> </strong> <%= swap.user.first_name.capitalize %>
          </div>
          <% if swap.user.avatar.attached? %>
            <%= cl_image_tag swap.user.avatar.key, class: "avatar w-25" %>
          <% else %>
            <%= image_tag "avatar.png", class: "avatar w-25" %>
          <% end %>
        </div>
        <br>

      <% end %>

    </div>
  </div>
<% end %>
