<%# My Lunches %>
<% if @lunches_without_swap.nil? %>
  <p>You didn't create lunch yet!</p>
<% else %>
  <% @lunches_without_swap.each do |lunch| %>
      <div class="card-product d-flex shadow p-3 mb-5 bg-white rounded">
      <% if lunch.photos.attached? %>
        <%= cl_image_tag lunch.photos.first.key, height: 250%>
      <% else %>
        <%= image_tag('lunch.jpg') %>
      <% end %>
      <div class="card-product-infos w-100">
        <div class="mb-3">
          <h2><%= link_to lunch.title.capitalize, group_lunch_path(lunch.group_id, lunch) %></h2>
          <p><%= lunch.description %></p>
        </div>
        <div class="d-flex justify-content-between align-items-center my-3" >
          <div>
            <%= link_to "Edit this lunch", edit_group_lunch_path(lunch.group_id, lunch), class:"button-acc" %>
          </div>
          <div>
            <%= button_to "Destroy this lunch", group_lunch_path(lunch.group_id, lunch), class:"button-acc  line-height: 0" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
