<%# Lunches pending %>
<% @swaps.each do |swap| %>
  <% if swap.status == "pending" %>
    <div class="card-product d-flex">
      <% if swap.lunch.photos.attached? %>
        <%= cl_image_tag swap.lunch.photos.first.key, height: 250%>
      <% else %>
        <%= image_tag('lunch.jpeg') %>
      <% end %>
      <div class="card-product-infos">
        <h2><%= swap.lunch.title.capitalize %></h2>
        <%= "#{swap.user.first_name} has asked for #{swap.lunch.title} but wants to chat first with you 😊" %>
        <%= link_to "Click here to chat with #{swap.user.first_name}", swap_chatroom_path(swap, @message) %>
      </div>
      <%= swap.status %>
    </div>
  <% end %>
<% end %>
