<%# @swaps_asked.each do |swap| %>
  <%# <div class="card mb-3">
    <div class="card-body"> %>
      <%#= "You have asked for #{swap.lunch.title} from #{swap.lunch.user.first_name} at #{swap.delivery_date}" %>
      <%# <br>
      <br>
      <strong> Chat here : </strong> %>
      <%#= link_to "Click here to answer", swap_chatroom_path(swap, @message), class: "btn btn-primary" %>
      <%# <br>
      <br>
      <strong> Status : </strong> %>
      <%#= swap.status %>
    <%# </div>
  </div> %>
<%# end %>

<% @swaps_asked.each do |swap| %>
  <div class="card-product d-flex shadow p-3 mb-5 bg-white rounded">
    <% if swap.lunch.photos.attached? %>
      <%=  cl_image_tag swap.lunch.photos.first.key, height: 250 %>
    <% else %>
      <%= image_tag('lunch.jpg') %>
    <% end %>
    <div class="card-product-infos">
      <% @lunches.each do |lunch| %>
        <h2><%= link_to "#{swap.lunch.title.capitalize}", group_lunch_path(lunch.group_id, lunch) %></h2>
      <% end %>
      <div class="content-card-swap">
        <p><%= "Delivery date : #{swap.delivery_date}" %></p>
        <p><%= "From : #{swap.lunch.user.first_name}" %></p>
        <p><%= "To : #{swap.user.first_name}" %></p>
        <p><%= "Status : #{swap.status}" %></p>
        <div class="chat-button-swap">
          <p><%= link_to "Chat", swap_chatroom_path(swap, @message), class: "btn btn-primary" %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
