<div class="container my-5">
  <nav class="accordion arrows">

    <%# My Lunches  %>
    <input type="radio" name="accordion" id="cb1" />
    <section class="box mb-5">
      <label class="box-title" for="cb1"> My Lunches</label>
      <label class="box-close" for="acc-close"></label>
      <div class="box-content">
        <%= render "mylunches", swap: @swap %>
      </div>
    </section>

    <%# Lunches to bring at work %>
    <input type="radio" name="accordion" id="cb2" />
    <section class="box mb-5">
      <label class="box-title" for="cb2">Lunches to bring at work</label>
      <label class="box-close" for="acc-close"></label>
      <div class="box-content">
        <%= render "bringatwork", lunch: @lunch %>
      </div>
    </section>

    <%# Lunches to be received %>
    <input type="radio" name="accordion" id="cb3" />
    <section class="box mb-5">
      <label class="box-title" for="cb3">Lunches to be received</label>
      <label class="box-close" for="acc-close"></label>
      <div class="box-content">
        <%= render "tobereceived", lunch: @lunch %>
      </div>
    </section>

    <%# Lunches pending %>
    <input type="radio" name="accordion" id="cb4" />
    <section class="box mb-5">
      <label class="box-title" for="cb4">Lunches pending</label>
      <label class="box-close" for="acc-close"></label>
      <div class="box-content">
        <%= render "pending", lunch: @lunch %>
      </div>
    </section>
    <input type="radio" name="accordion" id="acc-close" />
    <%# calendar %>
    <%= render "calendar", lunch: @lunch %>

  </nav>
</div>
