<div class="container my-5 swap-page">
  <div class="dash-banner">
      <h1><%= "#{current_user.first_name.capitalize}\'s PotList"  %></h1>
  </div>
  <nav class="accordion arrows">
    <%# My Lunches  %>
    <input type="radio" name="accordion" id="cb1" />
    <section class="box mb-5">
      <label class="box-title" for="cb1"> My Lunches</label>
      <label class="box-close" for="acc-close"></label>
      <div class="box-content">
         <%= render "bringatwork" %>
         <%= render "mylunches" %>
      </div>
    </section>

    <%# Lunches to be received %>
    <input type="radio" name="accordion" id="cb2" />
    <section class="box mb-5">
      <label class="box-title" for="cb2">Lunches to be received</label>
      <label class="box-close" for="acc-close"></label>
      <div class="box-content">
        <%= render "tobereceived", swap: @swap %>
      </div>
    </section>
    <input type="radio" name="accordion" id="acc-close" class="d-none" />
  </nav>
    <%= render "calendar", swap: @swaps_calendar %>
</div>
