<!DOCTYPE html>
<html>
  <head>
    <title>PotLunch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "favicon.png", rel: "icon", type: "image/png" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <% if controller_name == "lunches" || controller_name =="swaps" || controller_name =="groups" || controller_name =="chatrooms" %>
    <%= render "shared/navbar" %>
    <%= render "shared/vertical_navbar" %>
    <div class="whole-page">
    <%= render "shared/flashes" %>
    <%= yield %>
  <% else %>
    <%= render "shared/navbar-transparent" %>
    <%= render "shared/flashes" %>
    <%= yield %>
  <% end %>
  <%= render "shared/footer" %>
  </body>
</html>
